<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czh.dao.AttentionMapper">

    <insert id="addAttention">
        insert into user_attention(follower_id, accept_id, follow_time)
        values (#{followerId}, #{acceptId}, #{followTime})
    </insert>
    
    <delete id="deleteAttention" parameterType="String">
        delete from user_attention where follower_id = #{arg0} and accept_id = #{arg1}
    </delete>
    
    <select id="queryFollowerById" parameterType="String">
        select follower_id from user_attention where accept_id = #{uid}
    </select>
    
    <select id="queryAttentionById" parameterType="String">
        select accept_id from user_attention where follower_id = #{uid}
    </select>

    <select id="queryAttentionBeforeTime" resultType="String">
        select accept_id from user_attention where follower_id = #{followerId} and follow_time &lt; #{beforeTime}
    </select>

    <select id="queryAttentionAfterTime" resultType="String">
        select accept_id from user_attention where follower_id = #{followerId} and follow_time &gt; #{beforeTime}
    </select>
    
</mapper>