<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"/>

<!--    <properties url=""/>-->

<!--    <properties resource="">-->
<!--        <property name="" value=""/>-->
<!--    </properties>-->

    <typeAliases>
        <typeAlias type="com.czh.bo.LoginBo" alias="LoginBo"/>
        <typeAlias type="com.czh.po.common.User" alias="User"/>
        <typeAlias type="com.czh.po.common.Group" alias="Group"/>
        <typeAlias type="com.czh.po.common.GroupMember" alias="GroupMember"/>
        <typeAlias type="com.czh.po.common.message.ChatMessage" alias="ChatMsg"/>
        <typeAlias type="com.czh.po.common.Attention" alias="Attention"/>
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>

            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/czh/dao/UserMapper.xml"/>
        <mapper resource="com/czh/dao/GroupMapper.xml"/>
        <mapper resource="com/czh/dao/GroupMemberMapper.xml"/>
        <mapper resource="com/czh/dao/ChatMsgMapper.xml"/>
        <mapper resource="com/czh/dao/AttentionMapper.xml"/>
    </mappers>

</configuration>